Report on {{ .Date }}

Delivered messages::
{{range .DeliveredMsg}}{{ .MessageId }}	{{ .From }}	{{ .Phone }}	{{ .Text }}
{{end}}
Sent messages:
{{range .SentMsg}}{{ .MessageId }}	{{ .From }}	{{ .Phone }}	{{ .Text }}
{{end}}
Errored messages:
{{range .ErroredMsg}}{{ .MessageId }}	{{ .From }}	{{ .Phone }}	{{ .Text }}	ERROR: {{ .LastError }}
{{end}}
Queued messages:
{{range .QueuedMsg}}{{ .MessageId }}	{{ .From }}	{{ .Phone }}	{{ .Text }}
{{end}}
